about-photos-component/
menu-component/
reservations-component/
reviews-component/

node_modules/

about-bundle.js
menu-bundle.js
res-bundle-prod.js
reviews-bundle.js

about-styles.css
reviews-reviews.css